[submodule "typings"]
	path = typings
	url = https://github.com/softboiler/python-type-stubs.git
[submodule "boilercore"]
	path = packages/boilercore
	url = https://github.com/softboiler/boilercore.git
