[submodule "template"]
	path = submodules/template
	url = https://github.com/blakeNaccarato/copier-python.git
[submodule "boilercore"]
	path = submodules/boilercore
	url = https://github.com/softboiler/boilercore.git
[submodule "typings"]
	path = typings
	url = https://github.com/softboiler/python-type-stubs.git
