# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

boilerdata==0.0.1

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
