# Requirements for dev environments.

# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

boilercore@git+https://github.com/blakeNaccarato/boilercore@3bd686e690f24232b9a4c4ad0acc2c9fd07b2f34

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
