# * -------------------------------------------------------------------------------- * #
# * Changes below should persist in significant template updates.

boilercore@git+https://github.com/blakeNaccarato/boilercore@7b8fecdf6cb8f55ca7aca7e598bbd0b92581b879

# * -------------------------------------------------------------------------------- * #
# * Changes below may be lost in significant template updates.

-r requirements_both.txt
